.red{
    color: red;
}

.blue{
    color:blue;
}

.orange{
    color: orange;
}

.green{
    color: green;
}

/* View Elements */

th{
    width:350px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    height: 120px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 5px 5px 5px 5px;
}

.left{
    margin-right: 45%;
}